body { font-family: monospace; background-color: #1c1917; color: #f59e0b; padding: 25px; }
.contenedor-app { max-width: 750px; margin: 0 auto; background-color: #292524; padding: 20px; border-radius: 6px; }
pre { background-color: #0c0a09; padding: 15px; border-radius: 4px; border: 1px solid #78350f; color: #fef3c7; }