body { font-family: monospace; background-color: #030712; color: #ef4444; padding: 25px; }
.contenedor-app { max-width: 800px; margin: 0 auto; background-color: #111827; padding: 20px; border-radius: 6px; border: 1px solid #ef4444; }
pre { background-color: #030712; padding: 15px; color: #fca5a5; font-size: 0.95rem; border: 1px solid #7f1d1d; }